body {
    font-family: 'Aboreto', cursive;;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover; 
    background-position: center;
    }

 h1 {
    color: white;
    text-align: center;
    font-family: 'Aboreto', cursive;
    line-height: 400px;
    
    
 }

 h2 {
    color: white;
    text-align: center;
    font-family: 'Aboreto', cursive;
    line-height: 100px;
 }

h5 {
    top: 300px;
    color: white;
    text-align: center;
    font-family: 'Aboreto', cursive;
    
}

h3 {
    text-align: center;
    color:white;
    margin-top: 25px;
    

}

p{
    text-align: center;
    color:white;
}

  
.carousel-item {
     height: 32rem;
     background: #777;
     position: relative;
  }

  .carousel-item img {
        
  }